.jumbotron {
  background-image: url("../images/repeat.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
  margin-bottom: 0;
  height: 300px;
}

#titre {
  margin-top: 60px;
  text-shadow: 1px 1px 1px black;
}